.terminal {
    background-color: #333;
    color: #eee;

    height: 100%;
    width: 100%;
}

.header.terminal {
    background-color: #999;
    color: #333;
    display: flex;
    font-weight: 900;
    align-items: center;
    height: 1.3rem;
    padding: 0 5px;
}

.content.terminal {
    color: #eee;
    margin: 5px;
    width: calc( 100% - 10px );
    overflow: hidden;
    display: grid;
    grid-auto-rows: min-content;
}

.input.terminal {
    /* border: 4px solid red; */
    height: 1.3rem;
}

.output.terminal {
    align-self: baseline;
    /* border: 2px solid blue; */
    position: relative;
    width: 100% - 10px;
    opacity: 1;
}

.input.terminal {
    border: 1px solid red;
    display: flex;
}

.prompt.status {
    border: 1px solid blue;
}

.prompt.input {
    border: 1px solid yellow;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}