.terminal {
    background-color: #333;
    color: #eee;

    height: 100%;
    width: 100%;
}

.header.terminal {
    background-color: #999;
    color: #333;
    display: flex;
    font-weight: 900;
    align-items: center;
    height: 1.3rem;
    padding: 0 5px;
}

.content.terminal {
    color: #eee;
    margin: 5px;
    width: calc( 100% - 10px );
    overflow: hidden;
    display: grid;
    grid-auto-rows: min-content;
}

.output.terminal {
    align-self: baseline;
    /* border: 2px solid blue; */
    position: relative;
    width: 100% - 10px;
    opacity: 1;
}

.input.terminal {
    display: flex;
    height: 1.3rem;
}

.prompt.status {
    
}

.prompt.input {
    flex-grow: 1;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* overflow: */
    border: none;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    height: 1.5rem;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    word-break: break-word;
    word-break: break-all;
}